# dependencies
node_modules
.env
/.pnp
.pnp.js
packages/*/.env

# testing
/coverage

# IntelliJ project files
*.iml
*.ipr
*.iws
.idea

*.gitkeep

# eclipse project file
.settings/
.classpath
.project

# NetBeans specific
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# OS
.DS_Store

# Miscellaneous
*.class
*.log
*.pyc
*.swp

PROPOSAL.md

coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts






# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
